body{
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: lightcoral;
    display: flex;
}
a{
    padding: 20px;
    /* display: flex; */
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
}
li{
    list-style-type: none;
    display: flex;
}

h5{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 250px;
}
p{
    font-size: 40px;
    margin-top: -60px;
    margin-left: 100px;
}
img{
    height: auto;
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 100px;
    /* border-radius: 10px 120px 10px 120px; */
    border-radius: 40px 4px 40px 4px;
}
.div2{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detil{
    /* border: 2px solid black; */
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;

}
.about{
    margin-top: 100px;
}
.abt-head{
    text-align: center;
}
.abt-contant{
    margin-top: 100px;

}
details > summary{
    list-style: none;
    padding: 0 0 0 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
details > p{
    list-style: none;
    padding: 10px 0 0 20px;
    font-size: 1.2rem;
}
details summary:hover{
    color: rgb(158, 153, 153);
}
.name1{
    color: #111;
    text-decoration: underline;
}
.name1:hover{
    color: blue;
}



