body{
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: lightcoral;
    display: flex;
}
a{
    padding: 20px;
    /* display: flex; */
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
}
li{
    list-style-type: none;
    display: flex;
}

.div2{
    display: flex;
}
h5{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 250px;
}
p{
    font-size: 40px;
    margin-top: -60px;
    margin-left: 100px;
}
img{
    height: auto;
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 100px;
    border-radius: 15px 150px 15px 150px;
}

.avtar{
    width: 50%; 
    position: relative;
}
.avtar::after,.avtar::before{
    content: '';
    background-color: red;
    position: absolute;
    padding: 50px;
    border-radius:50%;
    z-index: 3;
    opacity: 0.5;

}
.avtar::after{
    top: 80%;
    left: 100px;
    background-image: linear-gradient(to left, purple, skyblue);
}
.avtar::before{
    background-image: linear-gradient(to right, purple, skyblue);
    left: 75%;
    top:20px
}


