body{
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: lightcoral;
    display: flex;
}
a{
    padding: 20px;
    /* display: flex; */
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
}
li{
    list-style-type: none;
    display: flex;
}

h5{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 250px;
}
p{
    font-size: 40px;
    margin-top: -60px;
    margin-left: 100px;
}
img{
    height: auto;
    width: 200px;
    float: right;
    margin-top: -300px;
    margin-right: 100px;
    /* border-radius: 10px 120px 10px 120px; */
    border-radius: 40px 4px 40px 4px;
}

.about{
    text-align: center;
    font-size: 40px;
    margin-top: 130px;
    border-bottom: 4px solid black;
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

.about_us{
    background-image: linear-gradient(#8ab9c9,#93e2c1) !important;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .7s;
}
.about_us:hover{
    background-size: 100% 100% !important;
    color: #fff;
}



