body{
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: #da68a0;
    display: flex;
}
a{
    padding: 20px;
    /* display: flex; */
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
}
li{
    list-style-type: none;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

div.main{
    background: transparent;
    width: 100%;
    height: 80vh;
    display: flex;
}
.detls{
    width: 50%;
    display: grid;
    place-content: center;
}
.detls .name{
    font-size: 2rem;
    font-weight: 450;
}
.detls .skill{
    font-size: 2rem;
    font-weight: 300;
}

img{

    height: 370px;
    width: 50%;
    margin-top: 60px;
    /* float: right; */
    margin-left: 250px;
    border-radius: 50px 50px 50px 50px;
    /* place-content: center; */
}

.abt-head{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.abt-head span{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    width: fit-content;
    border-bottom: 2px solid gray;
   
}
.move1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(#05716c,#efb5a3) !important;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .7s;
}
.move1:hover{
    background-size: 100% 100% !important;
    color: white;
}

details > summary{
    list-style: none;
    padding: 0 0 0 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
details > p{
    list-style: none;
    padding: 10px 0 0 20px;
    font-size: 1.2rem;
}
details summary:hover{
    color: #a8c66c;
}
.name1{
    color: #111;
    text-decoration: underline;
}
.name1:hover{
    color: blue;
}
.cont-head{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.cont-head span{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: fit-content;
    border-bottom: 2px solid gray;
}

label{
    padding: 0 0 0 10px;
    font-size: 1.6rem;
    color: #783937;
}
input,textarea{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid rgb(142, 137, 137);
    padding: 0 0 0 10px;
    background: transparent;
}
input:focus,textarea:focus{
    border-bottom: 2px solid #F1AC88;
    outline: none;
    color:#F1AC88;
}
.cont-contant{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    padding: 20px;
    width: 60%;
    box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    border-radius: 4px;
}

form .submit{
    width: 100%;
    padding: 5px;
    border: none;
    margin: 10px 0 0 0;
    background:  #FC766A;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300;
}
